{% extends 'base.html' %}

{% load static %}

{% block content %}

<div style="margin-left: 20px;">
    {% if team != None %}
        <h1>{{team.name}}</h1>
        <p>Team Leader: {{leader.username}}</p>

        {% if user.is_authenticated and admin == True %}
            <a href="/app/delete/team/{{team.id}}"><input type="submit" value="Delete Team" class="btn btn-danger" /></a><br/>
            <br/>
            <input type="submit" value="Add Member" class="btn btn-success" onclick="toggleAddMember()"/>
            <div id="newMemberForm" style="display: none; margin-top: 30px;">
                <form method="POST">
                    {% csrf_token %}
                    <h4>Add Member</h4>
                    Username: <input type="text" name="username" required/><br/>
                    Admin: <input type="checkbox" name="admin" required/><br/>
                    <input type="submit" />
                </form>
            </div>
            <br/>
            <a href="/app/team/newFixture/{{team.id}}"><input type="submit" value="New Fixture" class="btn btn-success" style="margin-top: 20px;" /></a>
        {% endif %}

        <div style="margin-top: 30px;">
            <h4>Upcoming fixtures:</h4>
            {% if fixtures != None %}
                {% for fixture in fixtures %}
                    <li><a href="/app/fixture/{{fixture.id}}">{{fixture.name}} - {{fixture.date}}</a></li>
                {% endfor %}
            {% endif %}
        </div>

        <div style="margin-top: 30px;">
            <h4>Members:</h4>
            {% if members != None %}
                {% for member in members %}
                    <li>{{member.userID.username}}</li>
                {% endfor %}
            {% endif %}
        </div>
    {% else %}
        <h1>Team does not exist</h1>
    {% endif %}
</div>
{% endblock content %}